@media(max-width:577px){
  header div.d-flex>div.left-item{
    height:30em !important;
    margin-right:0px;
  }
  header div.d-flex>div.left-item div.logo{
    margin-bottom:2rem;
  }
  .h4{
    font-size:1.2rem;
  }
  .my_swf{
    font-size:1rem;
  }
  header div.left{
    height:31em;
    text-align: center;
    padding:0px !important;
  }
  header div.left>a{
    height:2.4em;
    line-height:2.4em;
  }
  header div.d-flex>div.right-item{
    height:40em !important;
  }
  header div.d-flex>div.right-item div.right{
    top:4em;
    left:2.2em;
  }
  header div.d-flex>div.right-item div.right h5{
    font-size:1.1em;
  }
  header div.d-flex>div.right-item div.right button{
    margin-bottom:2em;
  }
  #weather ul.nav li{
    width:100%;
  }
  #weather ul.nav li a{
    padding:5% 0;
  }
  #weather div.tab-content div.tab-pane ul li{
    width:50%;
  }
}
@media (min-width:768px){
  header div.d-flex>div.left-item{
    height:28em !important;
    margin-right:0px;
  }
  header div.d-flex>div.left-item div.logo{
    margin-bottom:2rem;
  }
  .h4{
    font-size:1.2rem;
  }
  .my_swf{
    font-size:1rem;
  }
  header div.left{
    height:31em;
  }
  header div.d-flex>div.right-item{
    height:31em !important;
  }
  header div.d-flex>div.right-item div.right{
    top:2.5em;
    left:2.2em;
  }
  header div.d-flex>div.right-item div.right h5{
    font-size:1.1em;
  }
  div.right fieldset label{
    font-size:0.9em !important;
  }
  div.right button{
    margin-bottom:1.5em;
  }
}
@media (min-width:992px){
  header div.d-flex>div.left-item{
    height:34em !important;
  }
  header div.left{
    height:34em;
  }
  div.right-item{
    top:4em;
    left:1.2em;
  }
  div.right button{
    margin-top:2em;
  }
}