h3{
  color:#fff;
}
.register{
  background:url(../img/banner-bg.jpg)center center no-repeat;
  background-size:cover;
  padding:4em 0;
}
.container-fluid{
  width:450px;
  height:470px;
  text-align:center;
  padding-top:3em;
  background:rgba(250, 250, 250, 0.2);
}
.container-fluid table td{
  height:3em;
  color:#fff;
}
.container-fluid button{
  /*width: 80%;*/
}